<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="north" class="xyz.vaith.app.factory.PersonFactory">
        <property name="targetClass" value="java.awt.BorderLayout" />
        <property name="targetField" value="NORTH" />
    </bean>

    <bean id="theValue" class="xyz.vaith.app.factory.PersonFactory">
        <property name="targetClass" value="java.sql.ResultSet" />
        <property name="targetField" value="TYPE_SCROLL_SENSITIVE" />
    </bean>
</beans>