<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="stoneAxe" class="xyz.vaith.app.service.impl.StoneAxe" />
    <bean id="chinese" class="xyz.vaith.app.service.impl.Chinese" c:age="29" c:axe-ref="stoneAxe"></bean>

</beans>