<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">wee</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.3.27/hibernate_crm?useUnicode=true&amp;characterEncoding=UTF-8</property>
        <property name="hibernate.connection.password">abcd1234</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <!-- 配置连接池参数信息 -->
        <property name="hibernate.c3p0.max_size">5</property>   <!-- 最大连接数 -->
        <property name="hibernate.c3p0.min_size">2</property>   <!-- 最小连接数 -->
        <property name="hibernate.c3p0.timeout">5000</property> <!-- 超时时间 -->
        <property name="hibernate.c3p0.max_statements">100</property>   <!-- 最大执行的命令格个数 -->
        <property name="hibernate.c3p0.idle_test_period">30000</property> <!-- 空闲测试时间 -->
        <property name="hibernate.c3p0.acquire_increment">2</property>  <!-- 连接不够用时,每次增加的个数 -->

        <mapping resource="xyz/vaith/app/domain/User.hbm.xml" />
        <mapping resource="xyz/vaith/app/domain/Customer.hbm.xml" />
        <mapping resource="xyz/vaith/app/domain/BaseDict.hbm.xml" />
        <mapping resource="xyz/vaith/app/domain/LinkMan.hbm.xml" />
    </session-factory>
</hibernate-configuration>