<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

<!--  UserSystem  -->
    <bean id="userDao" class="xyz.vaith.app.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="userService" class="xyz.vaith.app.service.impl.UserServiceImpl" >
        <property name="userDao" ref="userDao" />
    </bean>
    <bean id="userAction" class="xyz.vaith.app.web.action.UserAction" scope="prototype">
        <property name="userService" ref="userService" />
    </bean>

<!--  CustomerManager  -->
    <bean id="customerDao" class="xyz.vaith.app.dao.impl.CustomerDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="customerService" class="xyz.vaith.app.service.impl.CustomerServiceImpl">
        <property name="custeomerDao" ref="customerDao" />
    </bean>

    <bean id="customerAction" class="xyz.vaith.app.web.action.CustomerAction" scope="prototype">
        <property name="customerService" ref="customerService" />
    </bean>

<!--   BaseDict     -->
    <bean id="baseDictDao" class="xyz.vaith.app.dao.impl.BaseDictDaoImpl" >
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="baseDictService" class="xyz.vaith.app.service.impl.BaseDictServiceImpl">
        <property name="baseDictDao" ref="baseDictDao" />
    </bean>

    <bean id="baseDictAction" class="xyz.vaith.app.web.action.BaseDictAction">
        <property name="baseDictService" ref="baseDictService" />
    </bean>

<!--  LinkMan  -->
    <bean id="linkManDao" class="xyz.vaith.app.dao.impl.LinkManDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="linkManService" class="xyz.vaith.app.service.impl.LinkManServiceImpl">
        <property name="linkManDao" ref="linkManDao" />
    </bean>
    
    <bean id="linkManAction" class="xyz.vaith.app.web.action.LinkManAction" scope="prototype">
        <property name="linkManService" ref="linkManService" />
        <property name="customerService" ref="customerService" />
    </bean>
<!--  Sql  -->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="configLocation" value="classpath:hibernate.cfg.xml" />
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" />
</beans>